<%- include('layouts/head.ejs')%>

    <body>

        <%- include('layouts/navigation.ejs')%>

            <!-- Page Content -->
            <div class="container">

                <div class="row">

                    <%- include('layouts/sidebar.ejs')%>


                        <div class="col-lg-9">

                            <%- include('layouts/carousel.ejs')%>

                                <div class="row">

                                    <div class="col-sm-12">
                                        <form action="/admin/add-product" method="POST">
                                            <p>
                                                <label>Title</label>
                                                <input type="text" name="title" />
                                            </p>
                                            <p>
                                                <label>Price</label>
                                                <input type="number" name="price" />
                                            </p>
                                            <p>
                                                <label>Description</label>
                                                <textarea name="description"></textarea>
                                            </p>
                                            <button type="submit">Submit</button>
                                        </form>
                                    </div>

                                </div>
                                <!-- /.row -->
                        </div>
                        <!-- /.col-lg-9 -->
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

            <%- include('layouts/end.ejs')%>